# public info .gitconfig

[user]
	name =
	email =

[core]
	editor = emacsclient -a mg
	pager = less

[init]
	defaultBranch = master
	
[alias]
	st = status
	sw = switch
	br = branch
	cmt = commit
	co = checkout
	unstage = restore --staged
	unmodify = restore
	alias = config --get-regex 'alias\\..*'
	tree = log --oneline --decorate --graph --all
	lt = log --oneline --decorate --graph --all
	rso = remote show origin
	pom = push origin master
	sh = stash
[stash]
	showPatch = yes
